<% if model.errors.full_messages.any? %>
  <div class = "alert alert-danger">
      <% model.errors.full_messages.each do |error_message| %>
        <%= error_message %><br />
      <% end %>
  </div>
<% end %>